<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Aiti::top_level" title="Aiti" module="Aiti_ProductResponsibleUserAdminUi" sortOrder="9999" resource="Magento_Backend::content"/>
		<add id="Aiti_ProductResponsibleUserAdminUi::aiti_productresponsibleuseradminui_productresponsibleuser" title="ProductResponsibleUser" module="Aiti_ProductResponsibleUserAdminUi" sortOrder="9999" resource="Magento_Backend::content" parent="Aiti::top_level" action="aiti_productresponsibleuseradminui/productresponsibleuser/index"/>
	</menu>
</config>
